{{jCurrentSite varName="currentSite"}}
<h3>getContent helper</h3>
{{jGetContent path=currentSite.path varName="currentResourceContent"}}
<div data-testid="getContent_site">site node transformed to JSNode : {{currentResourceContent.name}}</div>
{{jGetContent path=currentSite.path varName="currentResourceContentWithChildren" includeChildren=true}}
<div data-testid="getContent_site_withChildren">currentResource transformed to JSNode with children included:</div>
{{#each currentResourceContentWithChildren.children}}
    <br>
    <div data-testid="getContent_site_withChildren_{{name}}_name">children name: {{name}}</div>
    <div data-testid="getContent_site_withChildren_{{name}}_path">children path: {{path}}</div>
    <div data-testid="getContent_site_withChildren_{{name}}_nodeType">children nodeType: {{nodeType}}</div>
{{/each}}
<hr/>