{{jLoadJSON 'testRender.components.json' 'components'}}

<h2>JRender helper testing component</h2>
<hr/>

<h3>Components</h3>
    Render a jnt:text as JSON Node :
    <div data-testid="component-text-json-node" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender content=components.text}}
    </div>
    Render a jnt:text as JSON Node with conf OPTION :
    <div data-testid="component-text-json-node-option" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender content=components.textOption advanceRenderingConfig="OPTION"}}
    </div>
    Render a npmExample:test with view sub as JSON Node with conf OPTION :
    <div data-testid="component-npm-json-node-option" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender content=components.npmOption view="sub" advanceRenderingConfig="OPTION"}}
    </div>
    Render a simple predefined richtext component with conf INCLUDE :
    <div data-testid="component-npm-node-include" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender view="sub" advanceRenderingConfig="INCLUDE"}}
    </div>
    Render a text child node :
    <div data-testid="component-text-child-node" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender path="simpletext"}}
        {{jCreateContentButtons childName="simpletext" nodeTypes="jnt:text"}}
    </div>
    Render a JSON Node with mixins :
    <div data-testid="component-json-node-with-mixin" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender content=components.viewWithMixin view="tagged"}}
    </div>
    Render a JSON Node with parameters :
    <div data-testid="component-json-node-with-parameters" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender content=components.viewWithParameters view="parameters" parameters=components.renderParameters}}
    </div>
    Render an existing content Node with parameters :
    <div data-testid="component-npm-node-with-parameters" style="padding: 10px; margin:10px; border: 1px solid">
        {{jRender view="parameters" advanceRenderingConfig="INCLUDE" parameters=components.renderParameters}}
    </div>
<hr/>
