<div data-testid='row-{{currentContent.name}}'>
    <div data-testid='{{currentContent.name}}-col-1'>
        {{jArea name=(append currentContent.name '-col-1') areaAsSubNode='true'}}
    </div>
    <div data-testid='{{currentContent.name}}-col-2'>
        {{jArea name=(append currentContent.name '-col-2') areaAsSubNode='true'}}
    </div>
</div>
