<h2>jArea heper testing component</h2>

<h2>Basic Area</h2>
<div data-testid="basicArea">{{jArea name="basicArea"}}</div>

<h2>Area with allowed types</h2>
<div data-testid="allowedTypesArea">{{jArea name="AllowedTypesArea" allowedTypes=(arr "jnt:event" "jnt:bigText")}}</div>

<h2>Area with number of items</h2>
<div data-testid="numberOfItemsArea">{{jArea name="numberOfItemsArea" numberOfItems="2"}}</div>

<h2>Area with areaView</h2>
<div data-testid="areaViewArea">{{jArea name="areaViewArea" areaView="dropdown"}}</div>

<h2>Area with subNodesView</h2>
<div data-testid="subNodesViewArea">{{jArea name="subNodesViewArea" subNodesView="link"}}</div>