{{jAddResources type="css" resources="news.css"}}
{{#jGql}}
    {
        jcr {
            nodeByPath(path:"{{currentContent.path}}") {
                name
                properties {
                    name
                    value
                }
                children {
                    nodes {
                        name
                        path
                    }
                }
                site {
                    path
                }
            }
            nodesByQuery(query:"select * from [jnt:news]", limit:2) {
                nodes {
                    path
                }
            }
        }
    }
{{/jGql}}

<div data-testid="npm-view">NPM view working</div>
<hr/>

<h3>Handlebars</h3>
    <div data-testid="helper-118">i118 helper {{i18n 'greeting'}}</div>
    <div data-testid="helper-plus">PLUS helper: {{plus 1 9}}</div>
    <div data-testid="helper-sum">SUM helper: {{sum "[1, 2, 3, 4, 5]"}}</div>
    <div data-testid="helper-append">APPEND helper: {{append item.stem ".html"}}</div>
    <div data-testid="helper-obj">OBJ helper : {{obj param1='value1' param2='value2'}}</div>
    <div data-testid="helper-arr">ARR helper : {{jArr 'value1' 'value2' 'value3'}}</div>
<hr/>

<h3>GraphQL</h3>
    <div data-testid="gql-info-test" style="padding: 10px; margin:10px; border: 1px solid">
        <ul>
            {{#each gql.jcr.nodeByPath.properties}}
                <li data-testid={{name}}>{{name}}={{value}}</li>
            {{/each}}
        </ul>
    </div>
<hr/>
