<div>
    Parameter view {{currentContent.name}}
    prop1={{currentContent.properties.prop1}}
    stringParam={{renderParameters.stringParam}}
    objectParam.integerParam={{renderParameters.objectParam.integerParam}}
    objectParam.booleanParam={{renderParameters.objectParam.booleanParam}}
    lookup arrayParam 1={{lookup renderParameters.arrayParam 1}}
</div>
