{{loadJSON 'page.components.json' 'components'}}
<html>
    <head></head>
    <body>
        {{addResources type="css" resources="styles.css"}}
        <div class="page">
            <div class="header">
                <div class="headerContent">{{render content=components.header}}</div>
                <div class="headerLogin">{{render content=components.login}}</div>
            </div>
            <div class="nav">{{render content=components.navMenu}}</div>
            <div class="main">
                <div class="article">{{render content=components.pagecontent}}</div>
                <div class="aside">{{render content=components.aside}}</div>
            </div>
            <div class="footer">
                <div class="footerContent">{{render content=components.footer}}</div>
            </div>
        </div>
    </body>
</html>
