{{jLoadJSON 'page.components.json' 'components'}}
<html>
    <head></head>
    <body>
        {{jAddResources type="css" resources="styles.css"}}
        <div class="page">
            <div class="header">
                <div class="headerContent">{{jRender content=components.header}}</div>
                <div class="headerLogin">{{jRender content=components.login}}</div>
            </div>
            <div class="nav">{{jRender content=components.navMenu}}</div>
            <div class="main">
                <div class="article">{{jArea name="events" allowedTypes=(arr "jnt:event")}}</div>
                <div class="aside">
                    {{jRender content=components.calendar}}
                    {{jRender content=components.facets}}
                </div>

            </div>
            <div class="footer">
                <div class="footerContent">{{jRender content=components.footer}}</div>
            </div>
        </div>
    </body>
</html>