<html>
    <head></head>
    <body>
        {{addResources type="css" resources="styles.css"}}
        <div class="page">
            <div class="header">
                <div class="headerContent">{{renderComponent name="header" primaryNodeType="jnt:absoluteArea"}}</div>
                <div class="headerLogin">{{renderComponent name="login" primaryNodeType="jnt:loginForm"}}</div>
            </div>
            <div class="nav"> {{renderComponent name="navMenu" primaryNodeType="npmExample:navMenu" properties=(obj j:maxDepth="2")}}</div>
            <div class="main">
                <div class="article">{{renderComponent name="events" primaryNodeType="jnt:area" properties=(obj j:allowedTypes=(arr "jnt:event"))}}</div>
                <div class="aside">{{renderComponent name="calendar" primaryNodeType="jnt:calendar" boundComponentRelativePath="/events" properties=(obj startDateProperty="startDate" endDateProperty="endDate")}}</div>
            </div>
            <div class="footer">
                <div class="footerContent">{{renderComponent name="footer" primaryNodeType="jnt:absoluteArea"}}</div>
            </div>
        </div>
    </body>
</html>