{{jLoadJSON 'page.components.json' 'components'}}
<html>
    <head>
        {{jAddResources type="css" resources="styles.css"}}
    </head>
    <body>
        {{jAddResources type="javascript" resources="head-script.js"}}
        {{jAddResources type="javascript" resources="body-script.js" targetTag="body"}}
        <div class="page">
            <div class="header">
                <div class="headerContent">{{jRender content=components.header}}</div>
                <div class="headerLogin">{{jRender content=components.login}}</div>
            </div>
            <div class="nav">{{jRender content=components.navMenu}}</div>
            <div class="main">
                <div class="article">{{jArea name="pagecontent"}}</div>
                <div class="aside">{{jArea name="aside"}}</div>
            </div>
            <div class="footer">
                <div class="footerContent">{{jRender content=components.footer}}</div>
            </div>
        </div>
    </body>
</html>
