<h3>currentContent usages</h3>
<div data-testid="currentContent_properties_jcr:title">jcr:title : {{currentContent.properties.[jcr:title]}}</div>
<div data-testid="currentContent_properties_prop1">prop1 : {{currentContent.properties.prop1}}</div>
<div data-testid="currentContent_properties_propMultiple">propMultiple : {{currentContent.properties.propMultiple}}</div>
<div data-testid="currentContent_properties_propI18n">propI18n : {{currentContent.properties.propI18n}}</div>
<div data-testid="currentContent_properties_propRichText">
    <div>richtext : </div>
    {{{currentContent.properties.propRichText}}}
</div>
<div data-testid="currentContent_uuid">uuid : {{currentContent.uuid}}</div>
<div data-testid="currentContent_name">name : {{currentContent.name}}</div>
<div data-testid="currentContent_path">path : {{currentContent.path}}</div>
<div data-testid="currentContent_parent">parent : {{currentContent.parent}}</div>
<div data-testid="currentContent_nodeType">nodeType : {{currentContent.nodeType}}</div>
<div data-testid="currentContent_mixins">mixins : {{currentContent.mixins}}</div>
<hr/>