<h2>jArea helper test component</h2>

<h2>Basic Area</h2>
<div data-testid="basicArea">{{jArea name="basicArea"}}</div>

<h2>Area with allowed types</h2>
<div data-testid="allowedTypesArea">{{jArea name="allowedTypesArea" allowedTypes=(jArr "jnt:event" "jnt:bigText")}}</div>

<h2>Area with number of items</h2>
<div data-testid="numberOfItemsArea">{{jArea name="numberOfItemsArea" numberOfItems="2"}}</div>

<h2>Area with areaView</h2>
<div data-testid="areaViewArea">{{jArea name="areaViewArea" areaView="dropdown"}}</div>

<h2>Area with subNodesView</h2>
<div data-testid="subNodesViewArea">{{jArea name="subNodesViewArea" subNodesView="link"}}</div>

<h2>Area with path</h2>
<div data-testid="pathArea">{{jArea path="basicArea/subLevel"}}</div>

<h2>Area with absolute moduleType and home page content</h2>
<div data-testid="absoluteArea">{{jArea name="pagecontent" moduleType="absoluteArea"}}</div>

<h2>Non editable area</h2>
<div data-testid="nonEditableArea">{{jArea name="nonEditable" editable="false"}}</div>

<h2>Absolute area level</h2>
<div data-testid="absoluteAreaLevel">{{jArea name="pagecontent" level="0"}}</div>

<h2>Area as sub node </h2>
<div data-testid="areaAsSubNode">{{jArea name="areaAsSubNode" areaAsSubNode="true"}}</div>

<h2>Area type </h2>
<div data-testid="areaType">{{jArea name="areaType" areaType="npmExample:testReactJAreaColumns"}}</div>

<h2>Limited absolute area editing</h2>
<div data-testid="limitedAbsoluteAreaEdit">{{jArea name="pagecontent" limitedAbsoluteAreaEdit="false"}}</div>
