<h3>ctx injected in views testing component</h3>

{{#each ctx}}
    <div data-testid="ctx_{{@key}}">
        {{#if (isObject this)}}
            {{@key}}: {
                <ul style="list-style: none">
                {{#each this}}
                    <li>{{@key}}: {{this}}</li>
                {{/each}}
                </ul>
            }
        {{/if}}
        {{#unless (isObject this)}}
            {{@key}}: {{this}}
        {{/unless}}
    </div>
{{/each}}